.cardStyle {
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 1px 1px 1px #888888;
    padding: 2%;
    margin: 2% 3%;
    border-radius: 13px;
    
    border-color: aliceblue;
    width: 40%;
    display: inline-block;
}

img{
    max-width: 100px;
    box-shadow: 1px 1px #888888;
    border-radius: 13px;
}